# Sistem dosyaları
.DS_Store
Thumbs.db

# Loglar
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editör klasörleri
.idea/
.vscode/
*.swp

# Gereksiz klasörler (Eğer varsa)
node_modules/
dist/
build/